html, div {
	background-color: #e9ecef;
}
.index{
	padding: 10em;
}
div {
	margin: auto;
}
div.jumbotron {
	margin: 0 0 0 0;
}
.form-inline {
	width: 100%;
}

h1 {
	text-align: center;
}

.valid {
	width: 100%;
}

.listeMail {
	border: solid black 3px;
	margin-top: 4em;
}
