{% extends "layout.html.twig" %}

{% block content %}
<div class="container">
	<div class="col-4"></div>

	<div class="col-4">
		<form id="connect">
			<div class="form-group">
	    		<input class="index" type="text" name="user" placeholder="Nom Utilisateur">
	    		<input class="index" type="text" name="password" placeholder="Mot De Passe">
			</div>
		</form>
	</div>
	
	<div class="col-4"></div>
</div>
{% endblock %}
