{% extends "layout.html.twig" %}

{% block head %}
<h1>Prévoir Bis service de messagerie</h1>
{% endblock %} 

{% block content %}
<div class="container-fluid">
    <div class="row">
    	<div class="col-2 col-md-3 col-lg-3 listeMail">
    		<!-- titre mail client -->
    		<ul>
    			<li>yyyyyyyyyyyyyyyyyyyyyyyyyyyyyy</li>
    			<li>yyyyyttttttttttttttttttttttttt</li>
    			<li>yyyyyrrrrrrrrrrrrrrrrrrrrrrrrr</li>
    			<li>yyyyyeeeeeeeeeeeeeeeeeeeeeeeee</li>
    			<li>yyyyzzzzzzzzzzzzzzzzzzzzzzzzzz</li>
    		</ul>
    	</div>
    	<div class="col-0 col-md-1 col-lg-1"></div>
    	<div class="col-10 col-md-7 col-lg-7 listeMail">    			
            ufdvhjclqihbfilhblivdhqskfqbgq <br>     
            ufdvhjclqihbfilhblivdhqskfqbgq <br>     
            ufdvhjclqihbfilhblivdhqskfqbgq <br>     
            ufdvhjclqihbfilhblivdhqskfqbgq <br>     
            ufdvhjclqihbfilhblivdhqskfqbgq <br>     
            ufdvhjclqihbfilhblivdhqskfqbgq <br>     
            ufdvhjclqihbfilhblivdhqskfqbgq <br>     
            ufdvhjclqihbfilhblivdhqskfqbgq <br>     
            ufdvhjclqihbfilhblivdhqskfqbgq <br>     
            ufdvhjclqihbfilhblivdhqskfqbgq <br>     
  	
		</div>
        <div class="col-0 col-md-1 col-lg-1"></div>
	</div>
</div>
{% endblock %}