{% extends "layout.html.twig" %}

{% block head %}
<h1>Visuel de satisfaction</h1>
{% endblock %} 

{% block content %}
<div>
	<ul>
		<li>aaaaaaaaaaaaaaaaaaaaaaa</li>
		<li>aaaaaaaaaaaaaaaaaaaaaaa</li>
		<li>aaaaaaaaaaaaaaaaaaaaaaa</li>
		<li>aaaaaaaaaaaaaaaaaaaaaaa</li>
		<li>aaaaaaaaaaaaaaaaaaaaaaa</li>
		<li>aaaaaaaaaaaaaaaaaaaaaaa</li>
		<li>aaaaaaaaaaaaaaaaaaaaaaa</li>
	</ul>
</div>
{% endblock %}